<div class="top-bar">
    <h1>Switchboard</h1>
    <button commandfor="switchboard" command="close" class="close-button">
        <i class="ph-bold ph-x"></i>
    </button>
</div>

<label class="setting-row">
    <span>Disable distractor phone?</span>
    <input type="checkbox" id="phone-enabled" name="phone-enabled" />
</label>

<label class="setting-row">
    <span>Disable timemachine?</span>
    <input type="checkbox" id="timemachine-enabled" name="timemachine-enabled" />
</label>

<label class="setting-row">
    <span>Disable captions?</span>
    <input type="checkbox" id="captions-enabled" name="captions-enabled" />
</label>

<label class="setting-row">
    <span>Disable syllabus?</span>
    <input type="checkbox" id="syllabus-enabled" name="syllabus-enabled" />
</label>
