@import "@/styles/switchboard.css";
@import "@/styles/syllabus.css";
@import "@/styles/timemachine.css";
@import "@/styles/misc.css";

:root {
    --primary-color: #d5006c;
    --primary-color-darker: #b3005c;
    --primary-color-faded: #ffcce6;
}
